.cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .btn.btn-primary
  {
    background-color: #bb5dbb;
    color:black;
    border-style: none;
  }
  .btn.btn-primary:hover{
    background-color:thistle;
    color: black;
  }
  .btn.btn-primary:focus{
    background-color: thistle;
    color: black;
    border-style: none;
  }
  .read-more{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .read-more:hover{
    color: black;
  }

  .read-more-link{
    color: blueviolet;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .extra-content{
    color: cornflowerblue;
    font-weight: 500;
  }
  
  